:root {
  --text-color: white;
  --menu-color: #2b262b;
  --main-color: #151415;
  --button-color: #d29654;
}

.App {
  text-align: center;
  display: inline-flex;
  width: 100%;
  height: 100%;
  font-family: Open Sans,Arial,Georgia,sans-serif;
  color: var(--text-color);
}

button {
  background-color: var(--button-color);
  border: outset;
  border-color: var(--button-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

input[type=text] {
  padding: 4px;
  font-size: 16px;
  width: 70%;
}

.menu {
  display: block;
  width: 17%;
  min-height: 100%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: var(--menu-color);
  position: fixed;
  text-align: left;
  align-items: center;
}

.menu-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.menu-filter-container {
  padding-bottom: 1%;
}

.menu-button-container {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
}

.menu-reset-container {
  padding-top: 1.33em;
}

.menu-search-container {
  padding-bottom: 2%;
}

.body {
  margin-left: 17%;
  padding-top: 2%;
  padding-left: 2.5%;
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-div {
  display: block;
  padding-bottom: 4%;
  width: 13rem;
}

.card-div div {
  display: flex;
  justify-content: center;
}

.card-div img {
  width: 85%;
}

label {
  padding-right: 5px;
}

@media screen and (max-width: 800px) {
  .menu {
    width: 30%;
  }

  .body {
    min-width: 70%;
    margin-left: 30%;
    padding-left: 0;
  }
}

